<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" href="/">
      <img src="/static/images/ohm-lockup-color-logomark.png">
    </a>
    <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarMenu">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="navbarMenu" class="navbar-menu">
    <div class="navbar-end">
      <a class="navbar-item">
        Planning an Event
      </a>
      <a class="navbar-item">
        Dos & Don'ts
      </a>
      <a class="navbar-item">
        Resources
      </a>
      <a class="navbar-item">
        Certification
      </a>
      <a class="navbar-item">
        Events
      </a>
    </div>
  </div>
</nav>
